
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}



   <div class="body">
    <a  class="logo"><img src=@Url.Content("/Content/images/logo.png") alt=""></a>
       <div >
           <img src=@Url.Content("/Content/images/new1.jpg") alt=""></a>

       </div>
</div>

</div>
<div id="body">
    <div class="content">
        @*<a href="#"><img src=@Url.Content("/Content/images/johannedoe.jpg") alt=""></a>*@ 
        <b><u>History of Music</u></b>
        <br>
        <p>
            Music is found in every known culture, past and present, varying widely between times and places. Since all people of the world, including the most isolated tribal groups, have a form of music, it may be concluded that music is likely to have been present in the ancestral population prior to the dispersal of humans around the world. Consequently, music may have been in existence for at least 55,000 years and the first music may have been invented in Africa and then evolved to become a fundamental constituent of human life.
        </p>
        
        <p>
            A culture's music is influenced by all other aspects of that culture, including social and economic organization and experience, climate, and access to technology. The emotions and ideas that music expresses, the situations in which music is played and listened to, and the attitudes toward music players and composers all vary between regions and periods. "Music history" is the distinct subfield of musicology and history which studies music (particularly Western art music) from a chronological perspective
        </p>

        <p>
            Early music is music of the European classical tradition from after the fall of the Roman Empire, in 476 AD, until the end of the Baroque era in the middle of the 18th century. Music within this enormous span of time was extremely diverse, encompassing multiple cultural traditions within a wide geographic area; many of the cultural groups out of which medieval Europe developed already had musical traditions, about which little is known. What unified these cultures in the Middle Ages was the Roman Catholic Church, and its music served as the focal point for musical development for the first thousand years of this period.
        </p>

        <p>
            The prehistoric age is considered to have ended with the development of writing, and with it, by definition, prehistoric music. "Ancient music" is the name given to the music that followed. The "oldest known song" was written in cuneiform, dating to 3400 years ago from Ugarit. It was deciphered by Anne Draffkorn Kilmer, and was demonstrated to be composed in harmonies of thirds, like ancient gymel,[11] and also was written using a Pythagorean tuning of the diatonic scale. The oldest surviving example of a complete musical composition, including musical notation, from anywhere in the world, is the Seikilos epitaph.
        </p>

        <b>Be Part of Our Community</b>
        
    </div>
    <div class="sidebar">
        <div>
            <h3>ToP SONGS</h3>
            <ul>
                <li>
                    <a href=@Url.Content("~/Home/Songs")>July 19, 2014&nbsp;&nbsp;-&nbsp;&nbsp;<b>Awaari, Soch</b></a>
                </li>
                <li>
                    <a href=@Url.Content("~/Home/Songs")>July 19, 2014&nbsp;&nbsp;-&nbsp;&nbsp;<b>Nindiya Ke Paar</b></a>
                </li>
                <li>
                    <a href=@Url.Content("~/Home/Songs")>July 19, 2023&nbsp;&nbsp;-&nbsp;&nbsp;<b>Bolay</b></a>
                </li>
                <li>
                    <a href=@Url.Content("~/Home/Songs")>July 19, 2023&nbsp;&nbsp;-&nbsp;&nbsp;<b>Saajna</b></a>
                </li>
            </ul>
        </div>
        <div class="album">
            <h3>album</h3>
            <a href="#"><img src=@Url.Content("/Content/images/i2.jpg") alt=""></a> <span>Latest Album 2023 - Mp3, WAV, TIFF</span>
        </div>
        <div class="connect">
            <h3>social</h3>
            <a href="index.html" id="googleplus">googleplus</a>
            <a href="index.html" id="facebook">facebook</a>
            <a href="index.html" id="twitter">twitter</a>
        </div>
    </div>
</div>