
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}



    <<div class="body">
    <a class="logo"><img src=@Url.Content("/Content/images/logo.png") alt=""></a>
    <div>
        <img src=@Url.Content("/Content/images/new4.jpg") alt=""></a>

    </div>
</div>



</div>

<div id="body">
    <div class="content">
        <b><u>Music of Pakistan</u></b>
        <br>
        <p>
            Classical music of Pakistan is based on the traditional music of South Asia which was patronized by various empires that ruled the region and gave birth to several genres of classic music including the Klasik and Hindustani classical music. The classical music of Pakistan has two main principles, ‘sur’ (musical note) and ‘lai’ (rhythm). The systematic organization of musical notes into a scale is known as a raag. The arrangement of rhythm (lai) in a cycle is known as taal. Improvisation plays a major role during a performance.
        </p>

        <p>
            The major genres of classical music in Pakistan are dhrupad and khayal. Dhrupad is approaching extinction in Pakistan despite vocalists like Ustad Badar uz Zaman, Ustad Hafeez Khan and Ustad Afzal Khan have managed to keep this art form alive. Khayal is the most popular genre of classical music in Pakistan as it is also enjoyed with much enthusiasm in Afghanistan.
        </p>

        <p>
            There are many families from gharanas of classical music who inherited the music from their forefathers and are still performing. Some famous gharanas are: Qwaal Bacha gharana (Ustad Nusrat Fateh Ali Khan and Rahat Fateh Ali khan belong to this gharana), and Patiala Gharana (Shafaqat Amanat Ali Khan belongs to this gharana). Number of other gharanas are present in Pakistan which serve classical music. Some classical musicians like Ustad Badar uz Zaman do not belong to any famous gharana but has served classical music enormously. The legendary sitar player Mohammad Sharif Khan Poonchhwaley belongs to Poonch gharana of sitar. Ustad Rais Khan is another prominent sitar player of Pakistan.
        </p>

        <p>
            Shaukat Hussain, Tari Khan and Tafo Khan have been exponents of classical tabla playing from Pakistan. Talib Hussain was one of the last remaining pakhawaj players of Pakistan and was a recognized practitioner of the Punjab gharana style of drum-type instruments
        </p>

        <p>
            The music of Balochistan province is very rich and full of varieties due to the many different types of languages which are spoken in the province, including Balochi, Pashto, Brahui, Dari and Saraiki
        </p>
        <b>Be Part of Our Community</b>
    </div>
    <div class="sidebar">
        <div>
            <h3>ToP SONGS</h3>
            <ul>
                <li>
                    <a href=@Url.Content("~/Home/Songs")>July 19, 2014&nbsp;&nbsp;-&nbsp;&nbsp;<b>Awaari, Soch</b></a>
                </li>
                <li>
                    <a href=@Url.Content("~/Home/Songs")>July 19, 2014&nbsp;&nbsp;-&nbsp;&nbsp;<b>Nindiya Ke Paar</b></a>
                </li>
                <li>
                    <a href=@Url.Content("~/Home/Songs")>July 19, 2023&nbsp;&nbsp;-&nbsp;&nbsp;<b>Bolay</b></a>
                </li>
                <li>
                    <a href=@Url.Content("~/Home/Songs")>July 19, 2023&nbsp;&nbsp;-&nbsp;&nbsp;<b>Saajna</b></a>
                </li>
            </ul>
        </div>
        <div class="album">
            <h3>album</h3>
            <a href="#"><img src=@Url.Content("/Content/images/i2.jpg") alt=""></a> <span>Latest Album 2023 - Mp3, WAV, TIFF</span>
        </div>
        <div class="connect">
            <h3>social</h3>
            <a href="index.html" id="googleplus">googleplus</a>
            <a href="index.html" id="facebook">facebook</a>
            <a href="index.html" id="twitter">twitter</a>
        </div>
    </div>
</div>
